.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.authorization {
    display: flex;

    background-color: beige;
    border-style: double;
}
.authorization__body {
    text-align: center;
}
.authorization__header {
}
.authorization__title {
    text-align: center;
}
.title {
}
.authorization__subtitle {
}
.field {
}
.field__text {
}
.field__input {
}
.authorization__in {
    margin-top: 10px;
}
.authorization__reg {
    margin-top: 10px;
}

.authorization__msg {
    border: 2px solid coral;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}